<div class="pt-2">
    <div class="text-center">
        <div class="buy-sell__title-block">
            <div class="buy-sell-logo">
              <img [src]="tokenInfo.logoUrl" alt="token_icon">
            </div>
            <div class="buy-sell__title">{{ "PAGES.Sell.Heading" | translate }}</div>
        </div>

      <div class="mt-3">{{ "PAGES.Sell.Labels.CurrentPrice" | translate }}<br><b>{{ +sellPrice | noexp:18 }}</b> ETH/{{ tokenInfo.ticker }}</div>
    </div>

    <div class="mt-1">
        <form #form="ngForm">
            <div>
                <div class="from-row form-group m-0">
                    <div class="d-flex align-items-center">
                        <div class="form-currency">
                            <div class="buy-sell-token-icon">
                              <img [src]="tokenInfo.logoUrl" alt="token_icon">
                            </div>
                        </div>
                        <input type="text" class="form-control m-0" name="mntp-input" id="mntp-input" placeholder="0.01"
                               #mntpInput="ngModel"
                               [(ngModel)]="mntp"
                               autocomplete="off"
                               (input)="changeValue($event, true)"
                               required>
                    </div>
                </div>
            </div>

            <div class="percent-btn-cont mt-2">
              <button class="percent-btn" (click)="setCoinBalance(0.25)">25%</button>
              <button class="percent-btn" (click)="setCoinBalance(0.5)">50%</button>
              <button class="percent-btn" (click)="setCoinBalance(0.75)">75%</button>
              <button class="percent-btn" (click)="setCoinBalance(1)">100%</button>

              <div class="ml-2" [popover]='"POPOVER.PercentBtnSell" | translate' triggers="mouseenter:mouseleave" placement="top">
                <svg class="icon" width="17" height="17">
                  <use xlink:href="#info"></use>
                </svg>
              </div>
            </div>

            <div class="my-3">
                <div *ngIf="!ethAddress">
                  <div class="estimate-info">{{ "PAGES.Sell.Labels.Fee" | translate }}  {{ estimateFee | noexp:18 }} ETH
                    <span class="d-inline-block ml-2" [popover]='"POPOVER.TokenFee" | translate' triggers="mouseenter:mouseleave" placement="top" container="body">
                      <svg class="icon" width="17" height="17">
                        <use xlink:href="#info"></use>
                      </svg>
                    </span>
                  </div>
                  <div class="estimate-info">
                    {{ "PAGES.Sell.Labels.TokenPrice" | translate }}  {{ averageTokenPrice | noexp:18 }} ETH/MNTP
                    <span class="d-inline-block ml-2" [popover]='"POPOVER.AveragePrice" | translate' triggers="mouseenter:mouseleave" [placement]="isMobile ? 'auto' : 'top'" container="body">
                      <svg class="icon" width="17" height="17">
                        <use xlink:href="#info"></use>
                      </svg>
                    </span>
                  </div>
                </div>

                <div *ngIf="ethAddress">
                  <span *ngIf="+mntp && !errors.invalidBalance && !errors.tokenLimit">
                    <div class="estimate-info">{{ "PAGES.Sell.Labels.Fee" | translate }}  {{ estimateFee | noexp:18 }} ETH
                      <span class="d-inline-block ml-2" [popover]='"POPOVER.TokenFee" | translate' triggers="mouseenter:mouseleave" placement="top" container="body">
                      <svg class="icon" width="17" height="17">
                        <use xlink:href="#info"></use>
                      </svg>
                    </span>
                    </div>
                    <div class="estimate-info">
                      {{ "PAGES.Sell.Labels.TokenPrice" | translate }}  {{ averageTokenPrice | noexp:18 }} ETH/{{ tokenInfo.ticker }}
                      <span class="d-inline-block ml-2" [popover]='"POPOVER.AveragePrice" | translate' triggers="mouseenter:mouseleave" [placement]="isMobile ? 'auto' : 'top'" container="body">
                      <svg class="icon" width="17" height="17">
                        <use xlink:href="#info"></use>
                      </svg>
                    </span>
                    </div>
                  </span>
                  <div *ngIf="errors.invalidBalance">{{ "PAGES.Sell.Errors.InvalidBalance" | translate }}</div>
                  <div *ngIf="!errors.invalidBalance && errors.tokenLimit">
                    {{ "PAGES.Sell.Errors.Limits" | translate:{ min: tokenLimits.min, max: tokenLimits.max } }}
                  </div>
                  <div *ngIf="!+mntp">{{ "PAGES.Sell.Labels.TypeNumber" | translate }}</div>
                </div>
            </div>

            <div>
              <div class="from-row form-group m-0">
                <div class="d-flex align-items-center">
                  <div class="form-currency">
                    <svg class="icon" width="30" height="30">
                      <use xlink:href="#etherium"></use>
                    </svg>
                  </div>
                  <input type="text" class="form-control m-0" name="eth-input" id="eth-input" placeholder="0.01"
                         #ethInput="ngModel"
                         ngModel
                         autocomplete="off"
                         (input)="changeValue($event, false)"
                         [value]="eth"
                         readonly
                         required>

                  <div class="ml-2" [popover]='"POPOVER.EstimateSell" | translate' triggers="mouseenter:mouseleave" [placement]="isMobile ? 'auto' : 'top'" container="body">
                    <svg class="icon" width="17" height="17">
                      <use xlink:href="#info"></use>
                    </svg>
                  </div>
                </div>
              </div>

              <div class="mt-3">
                <div *ngIf="!errors.invalidBalance && errors.ethLimit">
                  {{ "PAGES.Sell.Errors.Limits" | translate:{ min: ethLimits.min, max: ethLimits.max } }}
                </div>
              </div>
            </div>

            <!--<div>-->
              <!--<div class="from-row form-group m-0">-->
                <!--<label for="min-return-input">{{ "PAGES.Buy.Labels.MinReturn" | translate }}</label>-->
                <!--<div class="d-flex align-items-center">-->
                  <!--<div class="form-currency">-->
                    <!--<svg class="icon" width="30" height="30">-->
                      <!--<use xlink:href="#return"></use>-->
                    <!--</svg>-->
                  <!--</div>-->
                  <!--<input type="text" class="form-control m-0" name="min-return-input" id="min-return-input" placeholder="0.01"-->
                         <!--#minreturnInput="ngModel"-->
                         <!--ngModel-->
                         <!--autocomplete="off"-->
                         <!--(input)="changeMinReturn($event)"-->
                         <!--[value]="minReturn"-->
                         <!--[disabled]="loading"-->
                         <!--required>-->
                <!--</div>-->
              <!--</div>-->

              <!--<div class="percent-btn-cont mt-2">-->
                <!--<button class="percent-btn" (click)="setMinReturn(0.9)">90%</button>-->
                <!--<button class="percent-btn" (click)="setMinReturn(0.95)">95%</button>-->
                <!--<button class="percent-btn" (click)="setMinReturn(1)">100%</button>-->
              <!--</div>-->

              <!--<div class="mt-3 text-center">-->
                <!--<div *ngIf="isMinReturnError"-->
                     <!--[innerHTML]="'PAGES.Buy.Errors.minReturn' | translate:{ max: +substrValue(eth) }">-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->

            <div class="text-center mt-3">
                <div class="d-inline-block position-relative">
                    <button type="button" class="btn btn-primary" (click)="onSubmit()"
                            [disabled]="!+mntp || !+eth || errors.invalidBalance || errors.tokenLimit || errors.ethLimit || loading || isTyping || isInvalidNetwork || isMinReturnError">
                        {{ "PAGES.Sell.Buttons.Sell" | translate }}
                    </button>
                    <img *ngIf="loading" alt="Processing..." width="17" height="17" class="form-loader absolute" src="assets/img/loader-gold-bg-white.gif">
                </div>
            </div>
        </form>
    </div>
</div>