<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col d-lg-flex footer-menu">
        <ul class="nav justify-content-center justify-content-md-start">
          <li class="nav-item">
            <a class="nav-link" routerLink="/legal-security">{{ "FOOTER.Menu.LegalSecurity" | translate }}</a>
          </li>
        </ul>
      </div>
      <!--<div class="col-12 text-center col-lg-auto">-->
        <!--<span class="copyright">{{ "FOOTER.Copyright" | translate:"{year: 2018 }" }}</span>-->
      <!--</div>-->
    </div>
  </div>
</footer>
